<table border="1" class="table table-striped">
    <thead>
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Mobile</th>
            <th>Age</th>  
            <th></th>          
        </tr>
    </thead>
    <tbody>
        {{#each list}}
        <tr>
            <td>{{this.uname}}</td>
            <td>{{this.email}}</td>
            <td>{{this.phone}}</td>
            <td>{{this.age}}</td>            
            <td>
                <a href="/update?id={{this._id}}">Edit</a>
                <a href="/login/{{this._id}}" onclick="return confirm('Are you sure to delete this record ?');">Delete</a>
            </td>
        </tr>
        {{/each}}
    </tbody>
</table>